/* import fonts */
@import url(https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface:regular);

html,
body {
  font-family: 'Karla', sans-serif;
}

header {
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
}

.title {
  font-family: 'Oswald', monospace;
}

.serif {
  font-family: 'Abril Fatface', serif;
}

.lime {
  color: #09ff03;
}

.nav-link,
.dropdown-item,
.link {
  color: #111;
  transition: 0.3s ease-in-out;
}

#searchIcon {
  color: #2d008e;
  transition: 0.3s ease-in-out;
}

.footer-link {
  color: #111;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
  font-weight: light;
  text-transform: uppercase;
}

.nav-link:link,
.dropdown-item:link,
.link:link {
  color: #111;
  transition: 0.3s ease-in-out;
}

.footer-link:link {
  color: #111;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

#searchIcon:link {
  color: #2d008e;
}

.nav-link:active,
.dropdown-item:active,
.link:active {
  color: #5e9918;
  background-color: transparent;
}

.footer-link:active {
  color: #5e9918;
}

#searchIcon:active {
  color: #ff6000;
}

.nav-link:visited,
.dropdown-item:visited,
.link:visited {
  color: #444;
  background-color: transparent;
}

.footer-link:visited {
  color: #111;
}

#searchIcon:visited {
  color: #111;
}

.nav-link:hover,
.dropdown-item:hover,
.link:hover {
  color: #5e9918;
  background-color: transparent;
}

.footer-link:hover {
  color: #5e9918;
}

#searchIcon:hover {
  color: #ff6000;
}

.nav-link:focus,
.dropdown-item:focus,
.link:focus {
  color: #ff6000;
  background-color: transparent;
}

.footer-link:focus {
  color: #ff6000;
}

.green {
  color: #5e9918;
}

.bg-green {
  background-color: #5e9918;
}

.accent {
  color: #ff6000;
}

.bg-accent {
  background-color: #ff6000;
}

.blue {
  color: #2d008e;
}

.bg-blue {
  background-color: #2d008e;
}

#navSearch:focus {
  outline: .0625rem solid #ff6000 !important;
  border: .0625rem solid #aaa;
  background-color: white;
  color: #111;
}

.badge-blue {
  background-color: rgb(65, 105, 225, 0.3);
  color: #200165;
}

.badge-green {
  background-color: rgb(76, 187, 23, 0.3);
  color: #2a440b;
}